<div class="logo big-logo">
  <div class="logo-title">
  <%= image_tag 'fuji.svg', alt: 'logo' %>
    <div>
    JAPAN <br>ADVENTURE <br>MAPS
    </div>
  </div>
  <div class="subtitle">Hiking And Cycling Routes In Japan. <br> Create Your Own GPS Maps.</div>
</div>
