.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(100% + 4vw);
  font-family: 'Rock 3D', monospace;
  padding: 8px;
  border-radius: 6px;
  margin: 16px;
  max-width: 90vw;
  img {
    height: 34vw;
    max-height: 280px;
  }
}

.big-logo {
  height: fit-content;
  min-height: 180px;
}

@media only screen and (min-width: 1000px) {
  .logo {
    font-size: 72px;
  }
}
