.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  padding: 16px;
  border-radius: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
  max-width: 80%;
  .logo-title {
    font-family: 'Rock 3D';
    font-size: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 340px;
    padding: 0;
    margin: 0;
  }
  .subtitle {
    font-size: 24px;
    font-weight: 300;
    font-family: monospace;
    max-width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    .logo-title {
      font-size: 6vw;
    }
    img {
      height: 30vw;
    }
    .subtitle {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    .subtitle {
      font-size: 14px;
    }
  }
}
