<div class="ride-index">
  <div class="routes-container">
    <%= render "shared/ride_preview", title: 'Upcoming Rides', routes: @upcoming_rides %>
    <%= render "shared/ride_preview", title: 'My Routes', routes: @routes %>
  </div>
</div>